<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157904142433-jpig5aluihgqpamq1f6e1mkakd3ncpvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157904142433-jpig5aluihgqpamq1f6e1mkakd3ncpvi</string>
	<key>API_KEY</key>
	<string>AIzaSyBeY4Ng5AUCoMs39yq9P9MdxOwe-Lwlrtw</string>
	<key>GCM_SENDER_ID</key>
	<string>157904142433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cmcTeamTeam.Knowing</string>
	<key>PROJECT_ID</key>
	<string>knowing-a0cf1</string>
	<key>STORAGE_BUCKET</key>
	<string>knowing-a0cf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157904142433:ios:0633056006e53ea064aa20</string>
</dict>
</plist>